# Default ignored files
/../../../../PycharmProjects./Professional-Portfolio/4. Image Watermark App/.idea/shelf/
/../../../../PycharmProjects./Professional-Portfolio/4. Image Watermark App/.idea/workspace.xml
